{% extends "store/base.html" %}
{% block title_text %}{{ title|title }} by {{ authors|names }}{% endblock %}
{% block body %}
    <div class="row">
        {% include "store/backlink.html" with referer=request.session.bookmark %}
    </div>
    <div id="id-book-details" class="info-window rounded">
        <div class="row my-2">
            <div class="col-auto my-2">
                <img src="{{ cover }}"
                     class="rounded"
                     alt="{{ title|title }} by {{ authors|names }}">
            </div>
            <div class="col">
                <h1>{{ title|title }}</h1>
                <h2>{% include "store/authorslinks.html" with authors=authors %}</h2>
                <h4 class="py-3">{{ description }}</h4>
                <p><b>Publisher:</b> {{ publisher }}</p>
                <p><b>Publication date:</b> {{ publish_date }}</p>
                <p><b>ISBN-10:</b> {{ isbn_10 }}</p>
                <p><b>ISBN-13:</b> {{ isbn_13 }}</p>
            </div>
            <div class="col-auto d-flex flex-column text-end">
                <h2 class="my-2">${{ price }}</h2>
                <div class="mt-auto my-3">
                    {% if key in request.session.cart %}
                        <form action="{% url 'store:cart' %}">
                            <button class="text-uppercase fw-bold btn btn-secondary">
                                in cart
                            </button>
                        </form>
                    {% else %}
                        <form action="{% url 'store:cart-add' %}" method="POST">
                            {% csrf_token %}
                            <button class="text-uppercase fw-bold btn btn-outline-secondary"
                                    name="book_id"
                                    value="{{ key }}">
                                add to cart
                            </button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
