{% extends "store/base.html" %}
{% block title_text %}Your Shopping Cart{% endblock %}
{% block header %}{% endblock %}
{% block body %}
    {% if cart %}
        <div class="row">
            <h1 class="col">Your Shopping Cart</h1>
        </div>
        <div class="row">
            {% include "store/backlink.html" with referer=request.session.bookmark %}
        </div>
        <form id="id-update-form" action="{% url 'store:cart-update' %}" method="POST">
            {% csrf_token %}
        </form>
        <div class="row">
            <table id="id-book-catalog" class="table table-borderless table-striped">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Title</th>
                        <th>Authors</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                        <tr class="align-middle">
                            <td>{{ forloop.counter }}.</td>
                            <td>
                                <a class="text-body" href="{% url 'store:book-detail' item.key %}">
                                    {{ item.title|title }}
                                </a>
                            </td>
                            <td>{% include "store/authorslinks.html" with authors=item.authors.all %}</td>
                            <td>${{ item.price }}</td>
                            <td>
                                <input type="number"
                                       min="1"
                                       size="4"
                                       name="qty {{ item.key }}"
                                       value="{{ item.qty }}"
                                       form="id-update-form">
                            </td>
                            <td>${{ item.total }}</td>
                            <td>
                                <form action="{% url 'store:cart-delete' %}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn-close" aria-label="Delete"
                                            name="book_id"
                                            value="{{ item.key }}">
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Subtotal</th>
                    <th id="id-total-price">${{ total_price }}</th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col-auto">
                <button name="update" class="btn btn-primary" form="id-update-form">
                    update cart
                </button>
                <a id="id-checkout-button" class="btn btn-primary" href="{% url 'store:checkout' %}">
                    checkout
                </a>
            </div>
        </div>
    {% else %}
        <div class="row vh-100 align-items-center text-center">
            <div>
                <h3 class="my-3">Your Shopping Cart is empty</h3>
                {% include "store/backlink.html" with referer=request.session.bookmark %}
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block footer %}{% endblock %}
