{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'store/style.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'store/favicon.ico' %}"/>
<html>
    <head>
        <title>Your Shopping Cart</title>
    </head>
    <body>
        <h1>Your Shopping Cart</h1>
        {% if cartitem_list %}
            <form action="delete" method="POST">
                {% csrf_token %}
                <table id="id_book_catalog">
                    <tr>
                        <td>№</td>
                        <td>Title</td>
                        <td>Author</td>
                        <td>Qty</td>
                        <td>Price</td>
                    </tr>
                    {% for item in cartitem_list %}
                    <tr>
                        <td>{{ forloop.counter }}.</td>
                        <td>{{ item.book.title }}</td>
                        <td>by {{ item.book.author }}</td>
                        <td><input type="number" min="0" size="4"
                            value="{{ item.quantity }}"></td>
                        <td>${{ item.book.price }}</td>
                        <td><button name="id"
                                    value="{{ item.id }}">
                                ⌫
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Subtotal</td>
                        <td id="id_total_price">${{ total_price }}</td>
                        <td></td>
                    </tr>
                </table>
            </form>
            <form>
                <button onclick="location.href='{% url "store:home" %}'"
                        type="button">
                    continue shopping
                </button>
                <button onclick="location.href='{% url "store:checkout" %}'"
                        id="id_checkout_button"
                        type="button">
                    checkout
                </button>
            </form>
        {% else %}
            <p>Your Shopping Cart is empty</p>
            <button onclick="location.href='{% url "store:home" %}'"
                    type="button">
                continue shopping
            </button>
        {% endif %}
    </body>
</html>
