{% extends "store/base.html" %}
{% block title_text %}Bookstore{% endblock %}
{% block body %}
    {% if request.GET.search %}
        <h5>Search results for "{{ request.GET.search }}":</h5>
    {% elif request.GET.author %}
        <h5>Books by {{ request.GET.author|author_name_by_id }}:</h5>
    {% endif %}
    {% if results %}
        <div id="id-book-catalog" class="row justify-content-center info-window rounded">
            {% for book in results %}
                <div class="card text-end mx-2 my-2 px-0 py-0">
                    <a href="{% url 'store:book-detail' book.key %}">
                        <img src="{{ book.cover }}"
                             class="card-img-top"
                             alt="{{ book.title|title }} by {{ book.authors|names }}"
                             title="{{ book.title|title }} by {{ book.authors|names }}" />
                    </a>
                    <div class="card-body d-flex flex-column">
                        <p class="card-text fw-bold">${{ book.price }}</p>
                        {% if book.key in request.session.cart %}
                            <form action="{% url 'store:cart' %}">
                                <button class="text-uppercase fw-bold btn btn-secondary">
                                    in cart
                                </button>
                            </form>
                        {% else %}
                            <form action="{% url 'store:cart-add' %}" method="POST">
                                {% csrf_token %}
                                <button class="text-uppercase fw-bold btn btn-outline-secondary"
                                        name="book_id"
                                        value="{{ book.key }}">
                                    add to cart
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No books are available.</p>
    {% endif %}
    <nav class="row mx-2 my-2" aria-label="book catalog pages">
        <ul class="pagination justify-content-center">
            {% for page_link in page_links %}
                {% if page_link.is_break %}
                    <li class="page-item">
                        <a class="page-link disabled" href="#">
                            <span aria-hidden="true">&hellip;</span>
                        </a>
                    </li>
                {% else %}
                    {% if page_link.is_active %}
                        <li class="page-item active">
                            <a class="page-link"
                               href="{{ page_link.url }}"
                               aria-label="{{ page_link.number }}">
                                {{ page_link.number }}
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ page_link.url }}"
                               aria-label="{{ page_link.number }}">
                                {{ page_link.number }}
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>
{% endblock %}
