{% extends "store/base.html" %}
{% block title_text %}Bookstore{% endblock %}
{% block header_text %}Bookstore{% endblock %}
{% block body %}
    <a id="id_cart" title="Shopping Cart" class="text-uppercase fw-bold position-absolute top-0 end-0 mx-2 my-2 btn btn-outline-secondary"
            href="{% url 'store:cart' %}">
        Cart
        {% if request.session.cart|length %}
            [{{ request.session.cart|length }}]
        {% endif %}
    </a>
    {% if books %}
        <table id="id_book_catalog" class="table table-borderless table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr class="align-middle">
                    <td>{{ book.title }}</td>
                    <td>by {{ book.authors.all|join:", " }}</td>
                    <td>${{ book.price }}</td>
                    <td>
                        {% if book.pk in request.session.cart %}
                        <form action="{% url 'store:cart' %}">
                            <button class="text-uppercase fw-bold btn btn-secondary">
                                in cart
                            </button>
                        </form>
                        {% else %}
                        <form action="{% url 'store:add' book.pk %}" method="POST">
                            {% csrf_token %}
                            <button class="text-uppercase fw-bold btn btn-outline-secondary">
                                add to cart
                            </button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No books are available.</p>
    {% endif %}
{% endblock %}
