{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'store/style.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'store/favicon.ico' %}"/>
<html>
    <head>
        <title>Bookstore</title>
    </head>
    <body>
        <h1>Bookstore</h1>
        <a id="id_cart" title="Shopping Cart" class="uppercase"
                href="{% url 'store:cart' %}">
            Cart
            {% if request.session.cart|length %}
                ({{ request.session.cart|length }})
            {% endif %}
        </a>
        {% if books %}
            <form action="add" method="POST">
                {% csrf_token %}
                <table id="id_book_catalog">
                    <tr>
                        <td>Title</td>
                        <td>Author</td>
                        <td>Price</td>
                    </tr>
                    {% for book in books %}
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>by {{ book.author }}</td>
                        <td>${{ book.price }}</td>
                        <td>
                            {% if book.pk|stringformat:"i" in request.session.cart %}
                                <button name="id"
                                        class="uppercase"
                                        type="button"
                                        onclick="location.href='{% url "store:cart" %}'">
                                    in cart
                                </button>
                            {% else %}
                                <button name="id"
                                        class="uppercase"
                                        value="{{ book.id }}">
                                    add to cart
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </form>
        {% else %}
            <p>No books are available.</p>
        {% endif %}
    </body>
</html>
